<style>
  h2{
    font-family: Apercu;
  }

  input[type=submit] {
    background-color: lightsteelblue;
    color: black;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 6px;

  }
  a{
    color: #000000 !important;
    text-decoration: none;
  }
  .button{
    background-color: lightsteelblue;
    color: black;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin: 0 auto;
    max-width: 100px;
  }
  .button:hover {
    background-color:lightgreen;
  }
  input[type=submit]:hover {
    background-color: lightgreen;
  }
  @font-face {
    font-family: Apercu;
    src: url("/assets/apercu_regular_pro.otf") format("opentype");
  }
  @font-face {
    font-family: Apercu;
    font-weight: bold;
    src: url("/assets/apercu_bold_pro.otf") format("opentype");
  }
  .signin {
    border: 2px solid black;
    border-radius: 25px;
    background: white;
  }
  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
  }

  body {
    background-image: url('/assets/bg-1.jpg');
    background-size:cover;
  }
    .signin {
      margin: auto;
      max-width: 350px;
      height: 600px;
      padding:30px
    }
</style>
<div class = vertical-center>
  <div class = "container-fluid text-center">
    <div class = "signin">
      <h2>SIGN UP</h2>
      <br>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>
        <br>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <br>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <br>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password"%>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
        <br>
        <div class="button">
          <a href="/sign_in">Log In</a>
        </div>
      <% end %>

    </div>
  </div>
</div>
